@model Projeto_DOS.Models.CadastroAlunos_SJC

@{ ViewData["Title"] = "Details"; }
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div>
    <h4>Seller</h4>
    <hr />
    <tr>
        <dt>
            @Html.DisplayNameFor(model => model.NOCIC)
        </dt>
        <td>
            @Html.DisplayFor(model => model.NOCIC)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>
        <td>
            @Html.DisplayFor(model => model.NOME)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SEXO)
        </td>
        <td>
            @Html.DisplayFor(model => model.SEXO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.ENDERECO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CIDADE)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CIDADE)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.BAIRRO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.BAIRRO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.ESTADO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CEP)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.FONE)
        </dt>
        <td>
            @Html.DisplayFor(model => model.FONE)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.PAI)
        </dt>
        <td>
            @Html.DisplayFor(model => model.PAI)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.MAE)
        </dt>
        <td>
            @Html.DisplayFor(model => model.MAE)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.NASCIMENTO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.NASCIMENTO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.LOCALNASC)
        </dt>
        <td>
            @Html.DisplayFor(model => model.LOCALNASC)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.UFNASC)
        </dt>
        <td>
            @Html.DisplayFor(model => model.UFNASC)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <td>
            @Html.DisplayFor(model => model.RG)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.ORGAO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.ORGAO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.UFEMIS)
        </dt>
        <td>
            @Html.DisplayFor(model => model.UFEMIS)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.ESTADOCIVI)
        </dt>
        <td>
            @Html.DisplayFor(model => model.ESTADOCIVI)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.PROFISSAO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.PROFISSAO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.EMPRESA)
        </dt>
        <td>
            @Html.DisplayFor(model => model.EMPRESA)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.DEPTO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.DEPTO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CARGO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CARGO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.RESPRH)
        </dt>
        <td>
            @Html.DisplayFor(model => model.RESPRH)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CURSOG)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CURSOG)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.FACULDADE)
        </dt>
        <td>
            @Html.DisplayFor(model => model.FACULDADE)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.ANO)
        </dt>
        <td>
            @Html.DisplayFor(model => model.ANO)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CIDG)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CIDG)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.UFG)
        </dt>
        <td>
            @Html.DisplayFor(model => model.UFG)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.FONEC)
        </dt>
        <td>
            FONEC
            @Html.DisplayFor(model => model.FONEC)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.RAMAL)
        </dt>
        <td>
            @Html.DisplayFor(model => model.RAMAL)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CELULAR)
        </dt>
        <td>
            @Html.DisplayFor(model => model.CELULAR)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.FONE1)
        </dt>
        <td>
            @Html.DisplayFor(model => model.FONE1)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <td>
            @Html.DisplayFor(model => model.EMAIL)
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.NROCREA)
        </dt>
        <td>
            @Html.DisplayFor(model => model.NROCREA)
        </td>
    </tr>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Editar</a>
    <a class="btn btn-dark" asp-action="Index">Voltar a Lista</a>
</div>