@model X.PagedList.PagedList<Projeto_DOS.Models.CadastroAlunos_SJC>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;

<style>
    td {
        font-size: 12px;
    }
</style>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <p>
                <a class="btn btn-outline-dark mr-2" asp-action="Create">Criar Novo</a>
            </p>
            @using (Html.BeginForm("Index", "CadastroAlunos_SJC", FormMethod.Get))
            {
                <div class="form-group">
                    Encontrar Nome: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                    <input class="btn btn-primary" type="submit" value="Pesquisar" />
                </div>
            }
        </div>
    </div>
    <div class="container-fluid">
        <table class="d-sm-table-cell">
            <thead>
                <tr class="text-center bg-info">
                    <td>CPF</td>
                    <td>NOME</td>
                    <td>SEXO</td>
                    <td>ENDEREÇO</td>
                    <td>CIDADE</td>
                    <td>BAIRRO</td>
                    <td>ESTADO</td>
                    <td>CEP</td>
                    <td>FONE</td>
                    @*
                    <th>
                        @Html.DisplayNameFor(model => model.NOCIC)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model => model.NOME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SEXO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ENDERECO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CIDADE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BAIRRO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ESTADO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CEP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FONE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PAI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MAE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NASCIMENTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LOCALNASC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UFNASC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ORGAO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UFEMIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ESTADOCIVI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PROFISSAO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPRESA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DEPTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CARGO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESPRH)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CURSOG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FACULDADE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ANO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CIDG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UFG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FONEC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RAMAL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CELULAR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FONE1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NROCREA)
                    </th>
                    *@
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.NOCIC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SEXO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENDERECO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CIDADE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BAIRRO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CEP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FONE)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.PAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NASCIMENTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOCALNASC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UFNASC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ORGAO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UFEMIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADOCIVI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROFISSAO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DEPTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CARGO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RESPRH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CURSOG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FACULDADE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ANO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CIDG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UFG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FONEC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RAMAL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CELULAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FONE1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NROCREA)
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<nav aria-label="Navegação de página exemplo">
            <ul class="pagination justify-content">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                </li>
            </ul>
        </nav>*@
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
    
    <br />
 
</div>